

/* This spec is for anchors with the style of norm for normal links */
A.norm {color:#000080;text-decoration:none;}
A.norm:active {color:#105050;}
A.norm:visited {color:#105050;}
A.norm:hover {color:#FF0000;text-decoration:underline;}
A.norm:visited:hover {color:#FF0000;text-decoration:underline;}

BODY { font-family: arial; font-size: x-small }
TD { font-family: monospaced; font-size: x-small }
CODE { font-size: x-small; font-family: monospaced }
