body a {
  color: #187dbe;
}
body a:hover {
  color: #53aee9;
}
h1 img {
  vertical-align: bottom;
}
.widget.twitter {
  display: none;
}
.home .widget.twitter {
  display: block;
}
.robocode1 aside,
.robocode2 aside,
.robocode3 aside,
.robocode4 aside,
.robocode5 aside,
.robocode6 aside {
  display: none;
}
